<!DOCTYPE html>
<html>
<head>
    <title>Main Page</title>
    <link rel="stylesheet" href="/static/css/styles.css">
</head>
<body>
    <h1>영화 추천 페이지</h1>
    <div id="auth">
        <h2>로그인 또는 회원가입을 하십시오.</h2>
        <input type="text" id="username" placeholder="Username">
        <input type="password" id="password" placeholder="Password">
        <button id="register-button" onclick="register()">회원가입</button>
        <button id="login-button" onclick="login()">로그인</button>
    </div>
    <script src="/static/js/scripts.js"></script>
</body>
</html>
